<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <div th:replace="~{fragments :: sidebar}"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <div th:replace="~{fragments :: topbar}"></div>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h1 mb-0 text-gray-800">Dashboard</h1>
                </div>
                <!-- Market status -->
                <div>
                    <h4>Markets</h4>
                </div>
                <div class="row"
                     th:with="mo=${markets.get(T(com.jmel.inv3st0r.enums.MarketStatus).OPEN)}, mc=${markets.get(T(com.jmel.inv3st0r.enums.MarketStatus).CLOSED)}, me=${markets.get(T(com.jmel.inv3st0r.enums.MarketStatus).EXTENDED)}">
                    <tr th:each="open : ${mo}">
                        <div class="col mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Open
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${open}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                    <tr th:each="extended : ${me}">
                        <div class="col mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning mb-1">
                                                Extended Hours
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                 th:text="${extended}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                    <tr th:each="closed : ${mc}">
                        <div class="col mb-4">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                Closed
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-500"
                                                 th:text="${closed}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </div>
                <div>
                    <h4>My investments</h4>
                </div>
                <div class="row">
                    <!-- News -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Market news</h6>
                            </div>
                            <div class="card-body" style="overflow-y: scroll;">
                                <div style="height: 20rem;">
                                    <tr th:each="news : ${marketNews}">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" width="100%" cellspacing="0">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="font-weight-bold" th:text="${news.getTitle()}+':'"></span>
                                                        <span th:text="${news.getDescription()}"></span>
                                                        <a th:href="${news.getUrl()}" target="_blank"
                                                           rel="noopener noreferrer">(more)</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </tr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Fund allocation</h6>
                            </div>
                            <div class="card-body"
                                 th:with="labels=${pieCharData.getLabels()}, balances=${pieCharData.getBalances()}, colorsP=${pieCharData.getColorsPrimary()}, colorsS=${pieCharData.getColorsSecondary()}">
                                <div class="chart-pie pt-4 pb-2" id="pieChartCanvas">
                                    <canvas id="pieChart"></canvas>
                                </div>
                                <div class="mt-4 text-center small">
                                    <span class="mr-2" id="pieChartLegend">
                                        <i class="fas fa-circle" style="color: #5A5C66"></i>[[' Cash']]
                                    </span>
                                </div>
                                <script th:inline="javascript">
                                    const pieChartLabels = /*[[${labels}]]*/ [];
                                    const pieChartData = /*[[${balances}]]*/ [];
                                    const pieChartBackgroundColors = /*[[${colorsP}]]*/ [];
                                    const pieChartHoverBackGroundColors = /*[[${colorsS}]]*/ [];
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Recent transactions -->
                <div>
                    <h4>Recent transactions</h4>
                    <div class="card shadow mb-4">
                        <div class="card-body" style="overflow-y: scroll;">
                            <div style="height: 30rem;">
                                <tr th:each="accountTransaction : ${accountTransactions}">
                                    <div th:replace="~{fragments :: txns-table-few(account=${accountTransaction})}"></div>
                                </tr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->
        <div th:replace="~{fragments :: footer}"></div>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<div th:replace="~{fragments :: scroll-to-top}"></div>
<div th:replace="~{fragments :: logout-modal}"></div>
<div th:replace="~{fragments :: js-core}"></div>
<div th:replace="~{fragments :: js-chart}"></div>
<div th:replace="~{fragments :: js-table}"></div>
</body>
</html>