<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <div th:replace="~{fragments :: sidebar}"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <div th:replace="~{fragments :: topbar}"></div>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h1 mb-4 text-gray-800">My profile</h1>
                <!-- Account details -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <form th:action="@{/profile}" method="post" class="account" id="editAccountForm"
                              autocomplete="off">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="firstName">First name</label>
                                    <input type="text" class="form-control form-control-user" id="firstName"
                                           name="firstName" th:value="${userInfo.getFirstName()}" minlength="1" maxlength="20"
                                           required>
                                </div>
                                <div class="col-sm-6">
                                    <label for="lastName">Last name</label>
                                    <input type="text" class="form-control form-control-user" id="lastName"
                                           name="lastName" th:value="${userInfo.getLastName()}" minlength="1" maxlength="20" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Select Profile Picture</label>
                                <div id="imageSelector" class="row" style="padding: 0.375rem 0.75rem">
                                    <div th:each="image : ${images}"
                                         class="col img-thumbnail d-flex justify-content-center align-items-center">
                                        <img th:src="@{|/img/pfp/__${image}__|}" style="width: 100px; height: 100px;"
                                             th:classappend="${userInfo.getPfp().equals(image) ? 'selected' : ''}">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="selectedImage" name="pfp" th:value="${userInfo.getPfp()}">
                            <hr>
                            <div class="row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Save changes
                                    </button>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <a href="/home" th:href="@{/home}" class="btn btn-danger btn-user btn-block"
                                       style="text-decoration: none;">
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </form>
                        <br>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <div class="font-weight-bold">Deactivate INV3$T0R profile</div>
                                <p>If you deactivate your profile, all positions will be liquidated. Funds, if any, will be
                                    available for transfer within 7 business days.</p>
                                <button class="btn btn-warning btn-user btn-block" id="deleteButton">
                                    Deactivate profile
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->
        <div th:replace="~{fragments :: footer}"></div>
    </div>
</div>
<script th:inline="javascript">
    $(document).keydown(function (event) {
        if (event.code === 'Enter' || event.code === 'Escape') {
            event.preventDefault();
        }
    });

    $(document).ready(function () {
        $('#imageSelector .img-thumbnail img.selected').parent().css('border', '1px solid #4E73DF');
    });

    $('#deleteButton').on('click', function () {
        const firstName = /*[[${userInfo.getFirstName()}]]*/ "";
        const lastName = /*[[${userInfo.getLastName()}]]*/ "";
        if (confirm(`${firstName} ${lastName}, your profile will be deactivated!\n\nThis action cannot be undone.`)) {
            window.location.href = /*[[@{/deactivate}]]*/ "";
        }
    });

    $('#imageSelector').click(function (event) {
        if ($(event.target).is('img')) {
            const selectedImage = $(event.target);

            $('#selectedImage').val(selectedImage.attr('src').split('/').pop());

            $('.img-thumbnail').removeClass('selected').css('border', '1px solid #D8DAE8');
            selectedImage.parent().addClass('selected').css('border', '1px solid #4E73DF');
        }
    });
</script>
<div th:replace="~{fragments :: logout-modal}"></div>
<div th:replace="~{fragments :: js-core}"></div>
</body>
</html>