<!-- HTML and scripts modified from Start Bootstrap - SB Admin 2 (https://startbootstrap.com/theme/sb-admin-2/) -->
<div class="modal fade show" id="purchaseModalResponse" tabindex="-1" role="dialog" aria-labelledby="purchaseModalLabel"
     style="display: block;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" xmlns="http://www.w3.org/1999/html">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="purchaseModalLabel">Buy ([[${accountInfo.getAccountName()}]])</h5>
            </div>
            <div class="modal-body">
                <form id="stockPurchaseForm" th:action="@{/transaction/purchase}" th:object="${newTransaction}"
                      method="post"
                      autocomplete="off">
                    <div class="row mb-3">
                        <div class="col">
                            Cash available:
                        </div>
                        <div class="col">
                            <input type="text" id="cash-available" class="form-control bg-light border-0 small"
                                   th:value="'$'+${#numbers.formatDecimal(accountInfo.getCashBalance(), 1, 'COMMA', 2, 'POINT')}"
                                   readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            Symbol
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" id="stock-selector" class="form-control bg-light border-0 small"
                                       placeholder="Search symbol" autocomplete="off">
                                <button id="search-button" class="btn btn-primary" type="button"><i
                                        class="fas fa-search"></i></button>
                                <div id="stock-dropdown" class="dropdown-menu"
                                     style="width:100%; max-height: 200px; overflow-y: auto;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            Price Per Stock
                        </div>
                        <div class="col">
                            <input type="text" id="pricePerStockInput" class="form-control" readonly>
                            <input type="hidden" id="pricePerStockValue" name="pricePerStockValue" th:field="${newTransaction.transactionPrice}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            Quantity
                        </div>
                        <div class="col">
                            <input type="number" id="quantity" name="quantity" class="form-control" min="1"
                                   oninput="calculateTotal()" th:field="${newTransaction.quantity}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            Total Cost
                        </div>
                        <div class="col">
                            <input type="text" id="total-cost" class="form-control" name="totalCost" readonly>
                        </div>
                    </div>
                    <input type="hidden" id="stock-symbol" th:field="${newTransaction.symbol}">
                    <input type="hidden" id="stock-company" th:field="${newTransaction.company}">
                    <input type="hidden" id="account-id" th:field="${newTransaction.accountId}">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" id="cancel-button">Cancel</button>
                <button type="button" class="btn btn-primary" id="buy-button">Buy</button>
            </div>
            <script>
                document.getElementById('stockPurchaseForm').addEventListener('keydown', (event) => preventDefaultEvents(event));

                document.getElementById('cancel-button').addEventListener('click', resetForm);

                document.getElementById('search-button').addEventListener('click', searchStock);

                document.getElementById('buy-button').addEventListener('click', buyButtonAction);

                document.getElementById('stockPurchaseForm').addEventListener('click', closeDropdown);

                var currentPrice = 0;

                function searchStock() {
                    const input = document.getElementById('stock-selector').value;

                    if (input.length >= 1) {
                        fetch(`/api/search-stock?query=${encodeURIComponent(input)}`)
                            .then(response => response.json())
                            .then(data => {
                                const dropdown = document.getElementById('stock-dropdown');
                                dropdown.innerHTML = '';
                                if (data && data.results) {
                                    if (data.results.length === 0) {
                                        const option = document.createElement('a');
                                        option.classList.add('dropdown-item');
                                        option.textContent = 'No results found';
                                        dropdown.appendChild(option);
                                    } else {
                                        data.results.forEach(stock => {
                                            const option = document.createElement('a');
                                            option.href = "#";
                                            option.classList.add('dropdown-item');
                                            option.textContent = `${stock.ticker} (${stock.name})`;
                                            option.onclick = (e) => {
                                                e.preventDefault();
                                                selectStock(stock.ticker, stock.name);
                                            };
                                            dropdown.appendChild(option);
                                        });
                                    }

                                    dropdown.classList.add('show');
                                } else {
                                    dropdown.classList.remove('show');
                                }
                            })
                            .catch(error => console.error('Error fetching stock data:', error));
                    }
                }

                function selectStock(symbol, name) {
                    document.getElementById('stock-selector').value = `${symbol} (${name})`;
                    document.getElementById('stock-symbol').value = symbol;
                    document.getElementById('stock-company').value = name;
                    document.getElementById('account-id').value = [[${accountInfo.getId()}]];

                    fetch(`/api/stock-price?symbol=${encodeURIComponent(symbol)}`)
                        .then(response => response.json())
                        .then(data => {
                            if (data.results && data.results.length > 0) {
                                currentPrice = data.results[0].c;
                                document.getElementById('pricePerStockValue').value = currentPrice.toFixed(2);
                                $('#pricePerStockInput').val(`$ ${numberFormatter(currentPrice, 2)}`);
                                calculateTotal();
                            }
                        })
                        .catch(error => console.error('Error fetching stock data:', error));

                    document.getElementById('stock-dropdown').classList.remove('show');
                }

                function calculateTotal() {
                    const quantity = parseInt(document.getElementById('quantity').value);
                    const totalCost = quantity * currentPrice;
                    $('#total-cost').val(`$ ${numberFormatter(totalCost, 2)}`);
                }

                function buyButtonAction() {
                    const button = document.getElementById('buy-button');
                    const total = parseFloat(document.getElementById('pricePerStockValue').value);

                    if (total > 0) {
                        if (button.textContent === 'Buy') {
                            toggleButton(button, true);
                        } else if (button.textContent === 'Confirm') {
                            document.getElementById('stockPurchaseForm').submit();
                        }
                    } else {
                        alert('Please select a valid stock and quantity before buying.');
                    }
                }

                function toggleButton(button, turnOn) {
                    if (turnOn) {
                        button.textContent = 'Confirm';
                        button.classList.remove('btn-primary');
                        button.classList.add('btn-success');
                    } else {
                        button.textContent = 'Buy';
                        button.classList.remove('btn-success');
                        button.classList.add('btn-primary');
                    }
                }

                function closeDropdown() {
                    document.getElementById('stock-dropdown').classList.remove('show');
                }

                function preventDefaultEvents(event) {
                    if (event.code === 'Enter') {
                        event.preventDefault();
                        searchStock();
                    } else if (event.code === 'Escape') {
                        closeDropdown();
                    }
                }

                function resetForm() {
                    document.getElementById('stockPurchaseForm').reset();

                    toggleButton(document.getElementById('buy-button'), false);

                    currentPrice = 0;

                    $('#purchaseModal').modal('hide');
                    $('#purchaseModal').html('')
                }
            </script>
        </div>
    </div>
</div>