<!-- HTML and scripts modified from Start Bootstrap - SB Admin 2 (https://startbootstrap.com/theme/sb-admin-2/) -->
<div class="modal fade show" id="fundModalResponse" tabindex="-1" role="dialog" aria-labelledby="fundModalLabel"
     style="display: block;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" xmlns="http://www.w3.org/1999/html">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fundModalLabel" th:text="|Fund account (${accountInfo.getAccountName()})|"></h5>
            </div>
            <div class="modal-body">
                <form id="accountFundForm" th:action="@{/transaction/fund}" method="post" autocomplete="off">
                    <div class="row mb-3">
                        <div class="col">
                            Cash available:
                        </div>
                        <div class="col">
                            <input type="text" id="cashAvailable" class="form-control bg-light border-0 small" th:value="'$ ' + ${#numbers.formatDecimal(accountInfo.getCashBalance(), 1, 'COMMA', 2, 'POINT')}" readonly>
                        </div>
                    </div>
                    <hr>
                    <div class="font-weight-bold">Funding amount</div>
                    <div class="row mb-3">
                        <div class="col">
                            Amount
                        </div>
                        <div class="col">
                            <input type="text" id="fundAmountInput" class="form-control" onchange="formatToCurrency('fundAmountInput', 'fundAmountValue')"
                                   placeholder="$ 0.00" required>
                            <input type="hidden" id="fundAmountValue" name="fundAmount">
                        </div>
                    </div>
                    <div class="font-weight-bold">Fake account info</div>
                    <div class="row mb-3">
                        <div class="col">
                            Fake routing number
                        </div>
                        <div class="col">
                            <input type="text" id="routingNumber" name="routingNumber" class="form-control" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            Fake account number
                        </div>
                        <div class="col">
                            <input type="text" id="accountNumber" name="accountNumber" class="form-control" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            Fake account type
                        </div>
                        <div class="col" style="display: flex; align-items: center;">
                            <input type="radio" id="typeChecking" name="accountType" value="checking"
                                   style="margin-right: 5px; vertical-align: middle;" required>
                            <label for="typeChecking"
                                   style="margin-right: 15px; vertical-align: middle;">Checking</label>
                            <input type="radio" id="typeSavings" name="accountType" value="savings"
                                   style="margin-right: 5px; vertical-align: middle;">
                            <label for="typeSavings" style="vertical-align: middle;">Savings</label>
                        </div>
                    </div>
                    <input type="hidden" id="accountId" name="accountId">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" id="cancelButton" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="button" id="fundButton">Fund</button>
            </div>
            <script>
                document.getElementById('accountId').value = [[${accountInfo.getId()}]];

                $(document).keydown(function (event) {
                    if (event.code === 'Enter' || event.code === 'Escape') {
                        event.preventDefault();
                    }
                });

                document.getElementById('cancelButton').addEventListener('click', resetForm);

                document.getElementById('fundButton').addEventListener('click', fundButtonAction);

                function fundButtonAction() {
                    const button = document.getElementById('fundButton');
                    const total = parseFloat(document.getElementById('fundAmountValue').value);
                    const hasAccountInfo = document.getElementById('routingNumber').value !== '' && document.getElementById('accountNumber').value !== '' && document.querySelector('input[name="accountType"]:checked') !== null;
                    console.log(hasAccountInfo);

                    if (total > 0.00 && hasAccountInfo) {
                        if (button.textContent === 'Fund') {
                            toggleButton(button, true);
                            return;
                        } else if (button.textContent === 'Confirm') {
                            document.getElementById('accountFundForm').submit();
                        }
                    } else {
                        if (!hasAccountInfo) {
                            alert('Please provide account information (do not use real information).');
                        } else {
                            alert('Please fund your account with $0.01 or more.');
                        }
                    }

                    toggleButton(button, false);
                }

                function toggleButton(button, turnOn) {
                    if (turnOn) {
                        button.textContent = 'Confirm';
                        button.classList.remove('btn-primary');
                        button.classList.add('btn-success');
                    } else {
                        button.textContent = 'Fund';
                        button.classList.remove('btn-success');
                        button.classList.add('btn-primary');
                    }
                }

                function resetForm() {
                    document.getElementById('accountFundForm').reset();

                    toggleButton(document.getElementById('fundButton'), false);

                    $('#fundModal').modal('hide');
                    $('#fundModal').html('')
                }
            </script>
        </div>
    </div>
</div>